@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222222;
}

.header {
    background-color: #FFFAE7;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

body {
    margin: 0;
    background: #F8F4E3;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
}

.nav__auth {
    font-size: 16px;
    font-weight: 600;
    transition: color .2s ease;
}

.nav__auth.sign_in:hover {
    color: #FF9518;
}

.nav__auth.sign_up:hover {
    color: #FFFAE7;
}

.header__auth {
    margin-right: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.sign_up {
    background-color: #F17105;
    padding: 12px 20px;
    border-radius: 60px;
    align-items: center;
}


.intro {
    display: flex;
    align-items: center;
}

.intro__wrapper {
    padding: 70px 0 125px 0;
    min-height: 390px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.intro__block {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.intro__title {
    margin-bottom: -10px;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}

.intro__text {
    font-size: 16px;
    font-weight: 400;
}

.watch_btn {
    font-weight: 600;
    background-color: #BDE765;
    padding: 12px 30px;
    border-radius: 60px;
    align-items: center;
}

.caw {
    position: relative;
    overflow: hidden;
    height: 360px;
    max-width: 100%;
    transition: transform 0.3s;
}

.caw img{
    height: 360px;
    max-width: 100%;
}

.caw:hover {
    transform: scale(1.05);
}


.block__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;

}

.diff {
    display: flex;
    align-items: center;
}

.diff__wrapper {
    padding: 85px 0px 100px;
    align-items: stretch;
    min-height: 170px;
    display: flex;
    gap: 20px;
}

.diff__wrapper img {
    height: 55px;
}

.diff__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}

.diff__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.diff__block_1,
.diff__block_2,
.diff__block_3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
}

.diff__block_1 .block {
    max-width: 420px;
}

.diff__block_2 .block {
    max-width: 366px;
}

.diff__block_3 .block {
    max-width: 385px;
}



.pictures__block {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.pictures__items_1,
.pictures__items_2,
.pictures__items_3 {
    display: flex;
    gap: 20px;
}

.pictures__items_1 .pic img,
.pictures__items_2 .pic img,
.pictures__items_3 .pic img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.pictures__items_1 .pic:hover img,
.pictures__items_2 .pic:hover img,
.pictures__items_3 .pic:hover img {
    transform: scale(1.1);
}

.pictures__items_1 .pic .pic-caption,
.pictures__items_2 .pic .pic-caption,
.pictures__items_3 .pic .pic-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.pictures__items_1 .pic:hover .pic-caption,
.pictures__items_2 .pic:hover .pic-caption,
.pictures__items_3 .pic:hover .pic-caption {
    opacity: 1;
    transition: opacity 0.3s;
}


.pictures__items_1 .pic {
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 416px;
    max-width: 100%;
}

.pictures__items_2 .pic {
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 674px;
    max-width: 100%;
}

.pictures__items_3 .pic {
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 618px;
    max-width: 100%;
}

.pictures__text {
    width: 800px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 100px 0px 100px;
}



.footer {
    padding: 120px 0 120px;
}
.footer__wrapper {
    padding: 100px 0 100px;
    background-color: #F8EAB1;
    display: flex;
    align-items: center;
    justify-content: center;
}
