{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=" {% static 'accounts/css/register_style.css' %}">
  <title>Регистрация</title>
</head>
<body>
    <section style="background: url('{% static 'accounts/images/register.jpg' %}') no-repeat; background-position: center; background-size: cover">
        <a href="#" class="logo"><img src="{% static 'accounts/images/logo_w.png' %}" alt="Лого"></a>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Регистрация</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Почта</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Пароль</label>
                    </div>
                    <button>Зарегистрироваться</button>
                    <div class="register">
                        <p>У Вас уже есть аккаунт? <a href="#">Войти</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
