{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=" {% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href=" {% static 'main/css/main_page_style.css' %}">
    <link rel="stylesheet" href=" {% static 'main/css/publications_page_style.css' %}">
    <link rel="stylesheet" href=" {% static 'main/css/settings_page.css' %}">
    <link rel="stylesheet" href=" {% static 'main/css/profile_bio_page.css' %}">
</head>

<body>

{% if request.user.is_authenticated %}
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="#" class="logo"><img src="{% static 'main/images/publications/logo.svg' %}" alt="logo"/></a>
                <nav class="nav">
                    <a class="nav__link" href="{% url 'home' %}"> Главная </a>
                    <a class="nav__link" href="{% url 'publications' %}"> Публикации </a>
                    <a class="nav__link" href="#"> Функции </a>
                    <a class="nav__link" href="#"> О нас </a>
                </nav>
                <div class="search">
                    <input type="text" placeholder="" class="search__input"/>
                    <button class="search__button">
                        <img src="{% static 'main/images/publications/search.png' %}" alt="Поиск"/>
                    </button>
                </div>

                <div class="header__menu">
                    <div class="nav__menu profile" id="profile-button">
                        <img src="{% static 'main/images/publications/profile.png' %}" alt="Профиль"/>
                        Профиль
                        <div class="dropdown__profile" id="profile-dropdown">
                            <div class="triangle"></div>
                            <a href="{% url 'profile_bio' %}">
                                <img src="{% static 'main/images/publications/my_profile.png' %}" alt="Профиль"/>
                                Мой профиль
                            </a>
                            <a href="{% url 'settings' %}">
                                <img src="{% static 'main/images/publications/skills.png' %}" alt="Профиль"/>
                                Настройки
                            </a>
                            <a href="#">
                                <img src="{% static 'main/images/publications/gallery.png' %}" alt="Профиль"/>
                                Гелерея
                            </a>
                            <a href="#">
                                <img src="{% static 'main/images/publications/question.png' %}" alt="Профиль"/>
                                Помощь
                            </a>
                            <a href="{% url 'logout' %}">
                                <img src="{% static 'main/images/publications/log-out.png' %}" alt="Профиль"/>
                                Выйти
                            </a>
                        </div>
                    </div>

                    <a class="nav__menu upload" href="#">
                        <img src="{% static 'main/images/publications/upload_pic.png' %}" alt="Загрузка"/>
                        Загрузить
                    </a>
                </div>
            </div>
        </div>
    </header>

{% else %}

    <header class='header'>
        <div class="container">
            <div class="header__wrapper">
                <a href="#" class="logo"><img src="{% static 'main/images/home/logo.svg' %}" alt="Лого"></a>
                <div class="header__block">
                    <nav class="nav">
                        <a class='nav__link' href="{% url 'home' %}">
                            Главная
                        </a>
                        <a class='nav__link' href="{% url 'publications' %}">
                            Публикации
                        </a>
                        <a class='nav__link' href="#">
                            Функции
                        </a>
                        <a class='nav__link' href="#">
                            О нас
                        </a>
                    </nav>
                </div>
                <div class="header__block">
                    <div class="search">
                        <input type="text" placeholder="" class="search__input">
                        <button class="search__button">
                            <img src="{% static 'main/images/home/search.png' %}" alt="Поиск">
                        </button>
                    </div>
                </div>
                <div class="header__block">
                    <div class='header__auth'>
                        <a class='nav__auth sign_in' href="{% url 'login' %}">
                            Войти
                        </a>
                        <a class='nav__auth sign_up' href="{% url 'register' %}">
                            Зарегистрироваться
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer__wrapper">
            <img src="{% static 'main/images/publications/logo.svg' %}" alt="logo">
        </div>
    </footer>

    <script src="{% static 'main/js/publications/script.js' %}"></script>
</body>

</html>