{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=" {% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href=" {% static 'main/css/main_page_style.css' %}">
    <link rel="stylesheet" href=" {% static 'main/css/publications_page_style.css' %}">
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>