{% extends 'main/layout.html' %}
{% load static %}


{% block title %} ArtFlow {% endblock %}
{% block content %}
    <header class='header'>
        <div class="container">
            <div class="header__wrapper">
                <a href="#" class="logo"><img src="{% static 'main/images/home/logo.svg' %}" alt="Лого"></a>
                <div class="header__block">
                    <nav class="nav">
                        <a class='nav__link active' href="#">
                            Главная
                        </a>
                        <a class='nav__link' href="{% url 'publications' %}">
                            Публикации
                        </a>
                        <a class='nav__link' href="#">
                            Функции
                        </a>
                        <a class='nav__link' href="#">
                            О нас
                        </a>
                    </nav>
                </div>
                <div class="header__block">
                    <div class="search">
                        <input type="text" placeholder="" class="search__input">
                        <button class="search__button">
                            <img src="{% static 'main/images/home/search.png' %}" alt="Поиск">
                        </button>
                    </div>
                </div>
                <div class="header__block">
                    <div class='header__auth'>
                        <a class='nav__auth sign_in' href="{% url 'login' %}">
                            Войти
                        </a>
                        <a class='nav__auth sign_up' href="{% url 'register' %}">
                            Зарегистрироваться
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            <div class="intro__wrapper">
                <div class="intro__block">
                    <h1 class="intro__title">Смотрите и делитесь своими лучшими идеями </h1>
                    <p class="intro__text">Вдохновляйтесь невероятными работами в разных стилях и жанрах со всего мира.
                        Делайте первые шаги в мире творчества с нами и откройте для себя бескрайний потенциал вашего
                        воображения.</p>
                    <a class='watch_btn' href="#">Смотреть</a>
                </div>
                <div class="caw">
                    <img src="{% static 'main/images/home/caw_pic.png' %}" alt="caw">
                </div>
            </div> <!-- /.intro__wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.intro -->

    <div class="diff">
        <div class="container">
            <h1 class="block__title">Что делает нас особенными?</h1>
            <div class="diff__wrapper">
                <div class="diff__block_1">
                    <div class="block">
                        <img src="{% static 'main/images/home/growing.png' %}" alt="growing">
                        <h3 class="diff__title">Развивайтесь как профессионал</h3>
                        <p class="diff__text">Получайте свои первые оценки и комментарии сразу после первой публикации.
                            Мы
                            гарнтируем, что ваши работы увидит сообщество, а вы получите ценные отзывы в первый же
                            день.</p>
                    </div>
                </div>
                <div class="diff__block_2">
                    <div class="block">
                        <img src="{% static 'main/images/home/career.png' %}" alt="career">
                        <h3 class="diff__title">Постройте свою карьеру</h3>
                        <p class="diff__text">Продвигайте себя как профессионального фотографа. Покажите на что вы
                            способоны
                            и вас обязательно заметят. </p>
                    </div>
                </div>
                <div class="diff__block_3">
                    <div class="block">
                        <img src="{% static 'main/images/home/stats.png' %}" alt="status">
                        <h3 class="diff__title">Следите за активностью</h3>
                        <p class="diff__text">С помощью статистики вы получаете ценную информацию о том, насколько
                            эффективны ваши работы. Анализируйте свои творения и покоряйте новые вершины!</p>
                    </div>
                </div>
            </div><!-- /.diff__wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.diff -->

    <div class="pictures">
        <div class="container">
            <h1 class="block__title">Просматривайте работы фотографов со всего мира</h1>
            <div class="pictures__block">
                <p class="pictures__text">На ArtFlow представлена возможность погрузиться в захватывающий мир
                    фотографий, которые создали талантливые фотографы из разных уголков планеты.</p>
                <div class="pictures__items_1">
                    <div class="pic">
                        <a href="#"><img src="{% static 'main/images/home/andy-holmes-monkey.png' %}" alt="monkey"></a>
                        <div class="pic-caption">Автор: Andy Holmes</div>
                    </div>
                    <div class="pic">
                        <a href="#"><img src="{% static 'main/images/home/vitalii-mazur-road.png' %}" alt="road"></a>
                        <div class="pic-caption">Автор: Vitalii Mazur</div>
                    </div>
                </div>
            </div>
            <div class="pictures__block">
                <p class="pictures__text">От потрясающих пейзажей до волнующих строений, наши страницы заполнены
                    историями, зафиксированными объективами камер. </p>
                <div class="pictures__items_2">
                    <div class="pic">
                        <a href="#"><img src="{% static 'main/images/home/lorin-both-building.png' %}"
                                         alt="red-building"></a>
                        <div class="pic-caption">Автор: Lorin Both</div>
                    </div>
                    <div class="pic">
                        <a href="#"><img src="{% static 'main/images/home/kevin-mueller-bird.png' %}" alt="bird"></a>
                        <div class="pic-caption">Автор: Kevin Mueller</div>
                    </div>
                    <div class="pic">
                        <a href="#"><img src="{% static 'main/images/home/artists-eyes-house.png' %}"
                                         alt="house_on_grass"></a>
                        <div class="pic-caption">Автор: Artists Eyes House</div>
                    </div>
                </div>
            </div>
            <div class="pictures__block">
                <p class="pictures__text">Путешествуйте по разным культурам, восхищайтесь разнообразием стилей и техник,
                    и найдите вдохновение в каждом кадре.</p>
                <div class="pictures__items_3">
                    <div class="pic">
                        <a href="#"><img src="{% static 'main/images/home/richard-stachmann-tram.png' %}" alt="tram"></a>
                        <div class="pic-caption">Автор: Richard Stachmann</div>
                    </div>

                </div>
                <p class="pictures__text">У нас вы можете узнать, что такое настоящее искусство фотографии и поделиться
                    своими впечатлениями с мировым сообществом фотографов.</p>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.pictures -->

    <footer>
        <div class="footer__wrapper">
            <img src="{% static 'main/images/home/logo.svg' %}" alt="logo">
        </div>
    </footer>
{% endblock %}

