{% extends 'main/layout.html' %}
{% load static %}


{% block title %} Публикации {% endblock %}
{% block content %}

<div class="container">
    <div class="profile__bio">
        <div class="cover">
            <img class="profile__cover" src="{{ user_profile.coverimg.url }}" alt="Обложка"/>
            <div class="profile__info">
                <img class="profile__picture" src="{{ user_profile.profileimg.url }}" alt="Фото профиля"/>
                <div class="name_and_bio">
                    <div class="name">{{ user.username }}</div>
                    <div class="biography">Ура! Я пользуюсь ArtFlow.</div>
                </div>
            </div>
        </div>

        <div class="user_bar">
            <div class="user_bar__nav">
                <h1>Портфолио</h1>
                <h1 class="active">Биография</h1>
            </div>
        </div>

        <div class="profile__bio__info">
            <div class="profile__bio__info__block">
                <h3>О себе</h3>
                <p>{{ user_profile.bio }}</p>
            </div>
            <div class="profile__bio__info__block">
                <h3>Навыки</h3>
                <p>{{ user_profile.skills }}</p>
            </div>
            <div class="profile__bio__info__block">
                <h3>Достижения</h3>
                <p>{{ user_profile.achievements }}</p>
            </div>
            <div class="profile__bio__info__block">
                <h3>Местоположение</h3>
                <p>{{ user_profile.location }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}