{% extends 'main/layout.html' %}
{% load static %}

{% block title %} ArtFlow {% endblock %}
{% block content %}

    <div class="container">
      <div class="settings">
        <div class="settings__title">
          <h1>Настройки</h1>
        </div>
        <div class="settings__change__images">
          <div class="change__profile_img">
            <div class="profile_img">
              <img src="{% static 'main/images/settings/ellipse.svg' %}" alt="Профиль" />
            </div>
            <div
              class="file_input__container"
              data-action="Изменить фото профиля"
            >
              <input type="file" class="file_input" accept="image/*" />
            </div>
          </div>

          <div class="change__cover_img">
            <div class="cover_img">
              <img src="{% static 'main/images/settings/cover.png' %}" alt="Профиль" />
            </div>
            <div
              class="file_input__container"
              data-action="Изменить фото обложки"
            >
              <input type="file" class="file_input" accept="image/*" />
            </div>
          </div>
        </div>

        <div class="profile_text_fields">
            <div class="settings__bio">
                <h3>О себе</h3>
                <textarea id="bio" name="bio" rows="3"></textarea>
              </div>
              <div class="settings__skills">
                <h3>Навыки</h3>
                <textarea id="skills" name="skills" rows="3"></textarea>
              </div>
              <div class="settings__achievments">
                <h3>Достижения</h3>
                <textarea id="achievments" name="achievments" rows="3"></textarea>
              </div>
            </div>
        </div>
    </div>

{% endblock %}
